# Namespace-specific ingress routes and middlewares
%{ if namespace == "homelab" ~}
ingressRoutes:
  homepage:
    match: Host("home.kieranajp.uk")
    middlewares:
    - ory-auth
    service:
      name: homepage
      port: 10352

  homeassistant:
    match: Host("homeassistant.kieranajp.uk")
    service:
      name: home-assistant
      port: 8080
%{ endif ~}

%{ if namespace == "auth" ~}
ingressRoutes:
  # Kratos selfservice UI (login/registration forms)
  kratos-ui:
    match: Host("kratos.kieranajp.uk") && PathPrefix("/ui")
    middlewares:
    - strip-ui-prefix
    service:
      name: kratos-selfservice-ui-kratos-selfservice-ui-node
      port: 80

  # Kratos public API (login flows, sessions, etc)
  kratos-public:
    match: Host("kratos.kieranajp.uk")
    service:
      name: kratos-public
      port: 4433

  # Hydra OAuth 2.0 public endpoints (token, authorize, well-known)
  hydra-public:
    match: Host("hydra.kieranajp.uk")
    service:
      name: hydra-public
      port: 4444

  # Hydra admin endpoints (protected with Ory auth)
  hydra-admin:
    match: Host("hydra-admin.kieranajp.uk")
    middlewares:
    - ory-auth
    service:
      name: hydra-admin
      port: 4445
%{ endif ~}

middlewares:
  strip-ui-prefix:
    spec: |
      stripPrefix:
        prefixes:
        - "/ui"

  ory-auth:
    spec: |
      forwardAuth:
        address: "http://oathkeeper-api.auth.svc.cluster.local:4456/decisions"
        authResponseHeaders:
        - "X-User"

  jwt-auth:
    spec: |
      forwardAuth:
        address: "http://oathkeeper-api.auth.svc.cluster.local:4456/decisions"
        authResponseHeaders:
        - "X-User"
        - "Authorization"
