{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: {{ .Values.ingress.match | quote }}
      {{- if .Values.ingress.middlewares }}
      middlewares:
      {{- range .Values.ingress.middlewares }}
      - name: {{ .name }}
        namespace: {{ .namespace }}
      {{- end }}
      {{- end }}
      services:
        - name: {{ .Release.Name }}
          port: 18789
  tls:
    certResolver: letsencrypt
{{- end }}
