# Talos & Cluster
k8s_context           = "seldon"
talos_version         = "v1.11.5"
cluster_name          = "seldon"
cluster_public_ip     = ""
talos_controlplane_ip = ""
talos_hostname        = "talos-cp1"

# Cloudflare (DNS & DDNS)
cloudflare_api_token = ""  # Scoped token with DNS edit permissions
cloudflare_zone_id   = ""

# TLS
letsencrypt_email = ""

# Container Registry
github_token = ""

# Authentication (Ory Stack)
google_client_id       = ""
google_client_secret   = ""
cookie_secret          = ""
auth_postgres_password = ""
hydra_system_secret    = ""  # 32+ chars
hydra_cookie_secret    = ""  # 32+ chars
hydra_salt             = ""  # 32+ chars
kratos_secret          = ""  # 32+ chars
kratos_identities = [
  {
    email      = "your@email.uk"
    first_name = "Your"
    last_name  = "Name"
  },
]

# Storage
nfs = {
  server         = ""
  tv_path        = "/path/to/tv"
  books_path     = "/path/to/ebooks"
  downloads_path = "/path/to/downloads"
  docs_path      = "/path/to/docs"
  puid           = 1000
  pgid           = 1000
}

# Applications
paperless_secret_key = ""
