# Kubernetes configuration
k8s_context     = "seldon"

tailscale_oauth_client_id     = ""
tailscale_oauth_client_secret = ""

cloudflare_account_id     = ""
cloudflare_tunnel_id      = ""
cloudflare_tunnel_name    = ""
cloudflare_tunnel_secret  = ""

github_token = ""

google_client_id = ""
google_client_secret = ""
cookie_secret = ""
