{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: {{ .Values.ingress.match | quote }}
      middlewares:
        - name: ory-auth
          namespace: auth
      services:
        - name: {{ .Release.Name }}
          port: 5299
  tls:
    certResolver: letsencrypt
{{- end }}
