apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    experimental:
      plugins:
        google-oidc-auth-middleware:
          moduleName: "github.com/andrewkroh/google-oidc-auth-middleware"
          version: "v0.2.0"
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      traefik:
        expose:
          default: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
